Source: ngcp-rate-o-mat
Section: utils
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 9~),
 libtemplate-perl,
Standards-Version: 3.9.7
Homepage: http://sipwise.com/

Package: ngcp-rate-o-mat
Architecture: all
Depends:
 libdbd-mysql-perl,
 libexception-class-perl,
 libnetaddr-ip-perl,
 lsb-base,
 ${misc:Depends},
 ${perl:Depends},
Conflicts:
 ngcp-ossbss-billing (<= 3),
Description: Rating daemon for the NGCP
 Perl daemon to rate CDRs in an NGCP.
